/* categories */
.categories {
  margin-top: 3rem;
  padding: 0 3rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.categories h3,h2,p {
  font-size: .8rem;
}

.categories__card .info {
  display: flex;
  flex-direction: column;
}

.categories__img {
  width: max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
}

.categories__img .imgL{
  background-image: url("src/assets/public/laptops.png");
  width: 160px;
  height: 220px;
  background-position: center; 
  background-size: 90%;
  filter: brightness(50%);
}
.categories__img .imgT{
  background-image: url("public/img/tecladoP.png");
  width: 160px;
  height: 220px;
  background-position: center; 
  background-size: 90%;
  filter: brightness(50%);
}
.categories__img .imgM{
  background-image: url("public/img/mouseP.png");
  width: 160px;
  height: 220px;
  background-position: center; 
  background-size: 90%;
  filter: brightness(50%);
}

.categories__img h2 {
  position: absolute;
  top: 50%;
  color: #fff;
}

/* categoties card */

.categories__card {
  display: flex;
  width: 180px;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid #484848;
  border-radius: .6rem;
  box-shadow: 2px 2px 4px 0px #000;
}

.categories .card_img {
  width: max-content;
  height: max-content;

}

.card_img img{
  width: 110px;
  height: 90px;
}

.moreInfo {
  text-decoration: none;
  background-color: #484848;
  color: #fff;
  padding: .3rem .6rem;
  border-radius: 1rem;
  text-decoration: underline;
}

.categories__card .info .ofer{
  text-decoration: line-through;
}

.categories__card .info .real{
  font-size: 1.2rem;
}